extends layout.pug
block content
    h1 Submit form here
        if errors.length
            ul
                p= 'The following errors were found:'
                each err in errors
                    li= err
    form(method="post" action="/create-interesting")
        include includes/form-inputs.pug
        label(for="favoriteBeatle") Favorite Beatle:
        select(name="favoriteBeatle")
            option(value= "") --Please choose an option--
            option(value="John") John
            option(value="Paul") Paul
            option(value="Ringo") Ringo
            option(value="George") George
            option(value="Scooby-Doo") Scooby-Doo
        label(for="iceCream") Ice Cream:
        input(type="checkbox" name="iceCream")
        input(type="submit" value="Create Interesting User")
